:root {
    --black: #000000;
    --cinza-mais-escuro: #222224;
    --cinza-bem-escuro: #171718;
    --cinza-bem-claro: #cecece;
    --branco: #fff;
    --border: 0.2rem solid rgb(156, 152, 152);
    font-size: 10px;
    --amarelinho: #e2d693;

}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: captalize;
    transition: 0.2s linear;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
}

::selection {
    background-color: #fff;
    color: #000000;
}

body {
    background-color: var(--black);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

input::placeholder {
    font-size: 17px;
}

input {
    font-size: 17px;
}

.text-box i:hover {
    color: #007bff;
}


/*Parte superior fixa*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: #000000;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: #aaaaaa;
    border-bottom: 0.3rem solid var(--cinza-bem-claro);
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: var(--amarelinho);
    color: #000000;
    max-width: 1000rem;
    padding: 1rem 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.btn:hover {
    padding: 1.5rem 6rem;
    letter-spacing: 0.3rem;
}

/*Base com imagem e centro do site*/
.home-container {
    background: url("./img/Design\ sem\ nome\ \(3\).png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.home-container section {
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 50px;
    min-height: 100vh;
}

.home .conteudo {
    max-width: 60rem;
}

.conteudo h3 {
    color: #ffffff;
    font-size: 7rem;
}

.conteudo p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
    width: 600px;
}

/*Conteudo da segunda parte do site -Sobre */
.Title {
    text-align: center;
    font-size: 7rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.Title span {
    color: var(--amarelinho);
    text-transform: uppercase;
}

.sobre .conteudo2 {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 4rem;
    background-color: var(--cinza-mais-escuro);
    gap: 5rem;
    background-size: cover;
    height: 714px;
}

.sobre .conteudo-sobre-nos h3 {
    font-size: 5rem;
    max-width: 700px;
    color: #fff;
    max-width: 714px;
}

.sobre .conteudo-sobre-nos p {
    font-size: 2rem;
    color: #fff;
    padding: 2rem 0;
    line-height: 1.8;
    padding-right: 15px;
    max-height: 714px;
    max-width: 513px;

}

.sobre .container-img {
    display: block;
    width: 600px;
    height: 714px;
}

/* Conteudo terceira parte do site- Produtos*/

.produto .container-prod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.produto .container-prod .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}

.produto .container-prod .box:hover {
    background: #cecece;
}

.produto .container-prod .box h3 {
    color: #fff;
    font-size: 2rem;
}

.produto .container-prod .box .preco {
    color: #fff;
    font-size: 3rem;
}

.produto .container-prod .box .preco span {
    padding: 1rem;
    color: #6c6c6c;
    text-decoration: line-through;
    font-weight: lighter;
}

.produto .container-prod .box:hover>* {
    color: #000000;
}

.produto .btn1 {
    background: #e2d693;
    padding: 1rem 5rem;
    color: #000000;
    text-align: center;
    font-size: 3rem;
    max-width: 1000rem;
    cursor: pointer;
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
    margin-bottom: 100px;
}

.produto .btn1:hover {
    padding: 1.5rem 5.5rem 1.5rem;
}


/*Área de Créditos*/
.creditos {
    display: flex;
    align-items: stretch;
    color: #cecece;
    flex: 1;
    gap: 150px;
}

.creditos h1 {
    font-size: 17px;
}

.creditos a,
p {
    font-size: 15px;
}

.creditos .cont .navegaçao a {
    color: #fff;
}

.creditos .cont .navegaçao a:hover {
    border-bottom: 0.2rem solid var(--cinza-bem-claro);
}

.creditos .contato .conteudo3 img {
    vertical-align: middle;
}

.creditos .contato .conteudo3 p {
    padding-left: 10px;
    display: inline-block;
}

.creditos .contato .conteudo3 a {
    color: #fff;
}

.creditos .contato .conteudo3 a:hover {
    border-bottom: var(--border);
}

.creditos .redes-sociais {
    display: flex;
    align-items: stretch;
    gap: 15px;
}

.final {
    display: flex;
    color: #fff;
    align-items: stretch;
    gap: 400px;
}

.final .feito-por {
    display: flex;
    align-items: stretch;
}

.final .feito-por a {
    color: #fff;
    font-size: 15px;
}

.final .feito-por a:hover {
    border-bottom: var(--border);
}

/*Whatsapp Logo-acess*/
.whatss-logo {
    z-index: 100;
    position: fixed;
    bottom: 2px;
    right: 10px;
}


/*Área de login*/

body.login ::selection {
    background-color: #000000;
    color: #ffffff;
}

body.login {
    background: #fff;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    color: #000000;
    margin-top: 15rem;
}

.container-login h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container-login h2 {
    font-size: 20px;
    margin-bottom: 2px;
}

.text-box {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.container-login .text-box input {
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 70rem;
    height: 60px;
    border: 2px solid #6c6c6c;
    outline: none;
    padding-left: 20px;
    transition: border-color 0.3s;
}

.container-login .text-box input:focus {
    border-color: #007bff;
}

.container-login .text-box input.valid {
    border-color: #007bff;
}

.container-login .text-box input.invalid {
    border-color: red;
}

.text-box i {
    position: absolute;
    overflow: visible;
    right: -400px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #555;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

.container-login .esqueci-link {
    color: #171718;
    font-size: 15.5px;
    font-weight: bold;
}

.container-login .text-box .email {
    margin-bottom: 30px;
}

.container-login .text-box .password {
    margin-bottom: 0px;
}

.container-login .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 72.3rem;
    margin-top: 20px;
    font-size: 25px;
}

.container-login .btn:hover {
    background: #e2ddbe;
    letter-spacing: normal;
}

.container-login p {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.container-login p a {
    font-weight: bold;
    color: #222224;
    padding-left: 10px;
}

#pagina-login {
    color: #000000;
}

#pagina-login a {
    color: #000000;
}

/*Área de Registrar-se*/

body.cad ::selection {
    background-color: #000000;
    color: #ffffff;
}

body.cad {
    background: #fff;
}

.container-cad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}

.container-cad h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container-cad h2 {
    font-size: 20px;
}

.container-cad .text-box input {
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 70rem;
    height: 60px;
    border: 2px solid #6c6c6c;
    padding-left: 20px;
    margin-bottom: 30px;

}

.container-cad .text-box i {
    position: absolute;
    overflow: visible;
    right: -400px;
    top: 33px;
    transform: translateY(-50%);
    font-size: 25px;
    color: #555;
    cursor: pointer;
    user-select: none;
    transition: color 0.3s ease;
}

.container-cad .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 72.3rem;
    margin-top: 20px;
    font-size: 25px;
}

.container-cad .btn:hover {
    background: #e2ddbe;
    letter-spacing: normal;
}

.container-cad p {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 100px;
}

.container-cad p a {
    font-weight: bold;
    color: #222224;
    padding-left: 10px;
}

.cad .final {
    color: #000000;
}

.cad .final a {
    color: #000000;
}

.container-cad .text-box input:focus {
    border-color: #007bff;
}

.container-cad .text-box input.valid {
    border-color: #007bff;
}

.container-cad .text-box input.invalid {
    border-color: red;
}

#erroSenha {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}


/*Esqueceu-senha*/

body.esqueci ::selection {
    background-color: #000000;
    color: #ffffff;
}

body.esqueci {
    background: #fff;
}

.container-esqueci {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    color: #000000;
    margin-top: 15rem;
}

.container-esqueci h1 {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.container-esqueci h2 {
    font-size: 20px;
    margin-bottom: 2px;
}

.container-esqueci .text-box input {
    background: #fff;
    border: none;
    border-radius: 5px;
    width: 70rem;
    height: 60px;
    border: 2px solid #6c6c6c;
    outline: none;
    padding-left: 20px;
    transition: border-color 0.3s;
}

.container-esqueci .text-box input:focus {
    border-color: #007bff;
}

.container-esqueci .text-box input.valid {
    border-color: #007bff;
}

.container-esqueci .text-box input.invalid {
    border-color: red;
}

.container-esqueci .text-box .email {
    margin-bottom: 15px;
}


#Enviar {
    display: none;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 71.3rem;
    margin-top: 20px;
    font-size: 25px;
}

#continuar:disabled {
    background-color: var(--amarelinho);
    cursor: not-allowed;
}

.g-recaptcha {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 71.3rem;
    margin-top: 20px;
    font-size: 25px;
}

.container-esqueci .btn:hover {
    background: #e2ddbe;
    letter-spacing: normal;
}


/*Container principal de produtos*/ 
body.colecao {
    display: flex;
    background-color: #fff;
    gap: 20px;
    padding: 20px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 100px;
}

/*Categorias lateral*/

.produtos .categoria {
    position: absolute;
    top: 300px;
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
}

.produtos .categoria h1 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #000000;
}

.produtos .categoria label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

/*filtro lateral*/
.produtos .filtro {
    width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
    position: sticky;
    top: 20px;
}

/*área de produtos*/

.produtos .container-prod {
    flex: 1;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 100px;
}
.produtos .container-prod .box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
}

.produtos .container-prod .box:hover {
    transform: scale(1.05);
}


.produtos .container-prod .box h3 {
    color: #000000;
    font-size: 2rem;
}

.produtos .container-prod .box .preco {
    color: #000000;
    font-size: 3rem;
}

.produtos .container-prod .box:hover>* {
    color: #000000;
}

.produtos .btn1 {
    background: #e2d693;
    padding: 1rem 5rem;
    color: #000000;
    text-align: center;
    font-size: 3rem;
    max-width: 1000rem;
    cursor: pointer;
    width: 50rem;
    height: 5rem;
    margin: 0 auto;
    margin-top: 3rem;
    position: relative;
    margin-bottom: 100px;
}

.produtos .btn1 a {
    color: #000000;
}

.colecao .produtos .box .btn:hover {
    background-color: #dfd6a7;
    letter-spacing: normal;
    padding: 1rem 5rem;
}

.colecao .produtos .btn1:hover {
    background-color: #dfd6a7;
}


/*área de compra*/

